/* 
#ffffff
#404040
#035949   
#ffba00
  
*/

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ofz4ic");
  src: url("../fonts/icomoon.eot?ofz4ic#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?ofz4ic") format("truetype"),
    url("../fonts/icomoon.woff?ofz4ic") format("woff"),
    url("../fonts/icomoon.svg?ofz4ic#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 38px;
  line-height: 1.5em;
  letter-spacing: -0.2px;
  color: #404040;
}

h1 strong {
  color: #ffba00;
}

h2 {
  color: #404040;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 40px;
}
.hero {
  height: 300px;
  background-color: #f8f8f8;
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  background-position-x: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* .hero__image {
  
} */

.portfolio {
  padding: 20px;
  background: #ffffff;
}
.project {
  /* border: 1px solid #ffba00; */
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #404040;
  flex-wrap: wrap;
}

.project__title {
  font-size: 30px;
  margin: 0 0 10px;
}

.project__course,
.project__date,
.project__url{
  margin: 10px 0;
}

.project__description {
  font-size: 20px;
}
.project strong  {
  font-family: "Fjalla One", sans-serif;
}


.project__details {
  width: 50%;
}
.project__image-container {
  width: 50%;
 
}

.project__image-container img {
  max-width: 100%;
  
}

.header {
  background-color: #ffba00;
  color: #f8f8f8;
  display: flex;

  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header a {
  color: #f8f8f8;
  text-decoration: none;
}
.menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}
.header a {
  height: inherit;
  align-items: center;
  display: flex;
  padding: 0 20px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.footer {
  background-color: #ffba00;
  color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer img {
  vertical-align: middle;
  
}

.footer a {
  color: #f8f8f8;
}
.event__list {
  display: flex;
  flex-wrap: wrap;
}

.event {
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #f8f8f8;
  overflow: hidden;
  color: #404040;
}
.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}
.event__detils {
  background: #ffffff;
  margin: 20px 40px;
  margin-top: -40px;
  position: relative;
  padding: 20px;
  text-align: center;
}
.event__description {
  text-align: left;
  color: #404040;
}

.event__url {
  color: #035949;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 10px;
}

.event__list-title {
  margin-left: 20px;
}

.contact {
  background-color: #035949;
  color: #f8f8f8;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* .social {
  
} */
.social__link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social__link.twitter {
  background-image: url("../image/twitter.svg");
}
.social__link.instagram {
  background-image: url("../image/instagram.svg");
}
.social__link.github {
  background-image: url("../image/github.svg");
}
.form__email input a {
  border-color: #ffffff;
  border-radius: 5px;
  border-style: solid;
  padding: 10px 20px 10px 25px;
  background-image: url("../image/envelope.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}
.form__email a  {
  /* display: block; */
  margin-top: 10px;
  /* background: transparent; */
  color: #f8f8f8;
  /* border-radius: 10px ; */
  width: 100px;
  padding: 5px 0;
  
  
}

.form__email h3 {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  /* border: 1px solid red; */
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  height: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;
}

.burger__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5;
  top: 5px;
  color: #035949;
}

/* Desktop first MQ */

@media screen and (max-width: 1023px) {
  .event__list-title {
    margin-left: 0;
  }
  .portfolio {
    padding: 0;
  }
  .container {
    padding: 0 1em;
  }
  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero__image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  h1 {
    font-size: 2em;
    z-index: 2;
  }
}

.html__video {
  width: 100%;
  height: auto;
  /* max-width: 100%; */
}

.youtube__video {
  /* width: 100%;
  height: auto; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flexible__video {
  width: 100%;
  height: 0px;
  padding-top: 56.25%;
  background: #035949;
  position: relative;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
  }
  .form__email {
    margin: 20px;
  }

  .burger__button {
    display: block;
  }
  .header {
    display: block;
    height: auto;
  }

  .header ol {
    display: block;
  }
  .header ol li {
    height: 50px;
  }

  .header a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: 0.5em;
  }

  .header .logo {
    text-align: center;
  }

  .menu {
    position: fixed;
    background: rgba(255, 186, 0, 0.9);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    /* height: 100vh; */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: 0.3s;
  }

  .menu.is-active {
    left: 0;
  }

  /* .hero__image{
    background: #ffba00;
  } */

  .project {
    display: block;
  }

  .project__image-container {
    width: auto;
    text-align: center;
  }

  .project__details {
    width: auto;
    /* font-size: 16px; */
  }
  .project__date,
  .project__url {
    margin: 0.3em 0;
  }

  .project__title {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
  .project__url {
    font-size: 1em;
  }
  .project__course {
    font-size: 0.7em;
  }
  .project__date {
    font-size: 1em;
  }
  .project__description {
    font-size: 1.1em;
  }
  .event {
    width: auto;
    flex-shrink: initial;
  }

  .event img {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .hero__image {
    background: #ffba00;
  }
  h1 {
    font-size: 1.5em;
  }
  h1 {
    color: #ffffff;
  }
  h1 strong {
    color: #ffffff;
  }

  .project__details {
    font-size: 14px;
  }
  .event__detils {
    margin: -2em 0.5em 0.5em;
    padding: 1em;
  }

  .contact {
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
  }
  .form__email button {
    margin: 1em auto;
  }
  .form__email h3 {
    margin-top: 0;
  }
  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.2em;
  }
  .hero {
    padding: 2em 1em;
  }
}
